<div class="container mt-5">

</div>
<div class="container my-5 px-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/src/images/day-1_hero_01.png" class="d-block mx-lg-auto img-fluid" alt="Day 1" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3 hero-heading">Save time and money</h1>
            <p class="lead">Our AI-powered solution automatically captures billable activities, saving
                lawyers
                6+ hours
                per week and increasing revenue by $500+ per week. It also ensures the highest level of privacy,
                keeping
                user
                information safe.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-md" href="https://www.calendly.com/day-1-io/30min" role="button"
                    target="_blank">Book
                    a demo</a>
                <a class="btn btn-primary btn-md" href="https://wa.me/5511915954848" role="button"
                    target="_blank">Contact
                    us</a>
            </div>
        </div>
    </div>
</div>