<div class="container-fluid px-5 my-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-md-6 col-lg-6 col-xl-8 col-xxl-8">
            <!--
                <img src="/private/images/010_Hero_Impacts.svg" class="d-block mx-lg-auto img-fluid" alt="Day 1" width="700"
                height="500" loading="lazy">
            -->
            
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/private/images/010_Hero_Impacts.svg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="/private/images/011_Hero_Unique_selling_proposition.svg" class="d-block w-100"
                            alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <h1 class="display-5 fw-bold lh-1 mb-3 hero-heading">Save time and money</h1>
            <p class="lead">Our AI-powered solution automatically captures billable activities, saving
                collaborators
                1+ hours
                per week and increasing accuracity by 74%. It also ensures the highest level of privacy,
                keeping
                user
                information safe.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-secondary" href="https://escritoria.day-1.io/" role="button">Start free</a>
            </div>
        </div>
    </div>
</div>