<section class="mt-5" id="solution">
  <div class="container my-5">
    <h1 class="text-start">Our solution</h1>
    <h4 class="text-start">Customer centric “no-timesheet” solution, that offers timesheet <span>pre-filled</span> with
      activities
      for
      review and approve.</h4>
    <div class="container text-center my-5">
      <div class="row g-4">
        <div class="col-sm p-4">
          <img src="/src/icons/savings_96dp_F6F5ECFF_FILL0_wght400_GRAD0_opsz48.svg" alt="Save money" class="img-fluid">
          <h1 class="text-left">Save money</h1>
          <h3 class="text-left">+5 hours</h3>
          <p class="text-left">per lawyer/week capturing calendar docs metadata and voice entries to fill the timesheet
          </p>
        </div>
        <div class="col-sm p-4">
          <img src="/src/icons/pending_actions_96dp_F6F5ECFF_FILL0_wght400_GRAD0_opsz48.svg" alt="Make money"
            class="img-fluid">
          <h1 class="text-left">Make money</h1>
          <h3 class="text-left">+25% billable hours</h3>
          <p class="text-left">increased productivity (+billable) and improved revenue capture (-unbilled)</p>
        </div>
        <div class="col-sm p-4">
          <img src="/src/icons/verified_user_96dp_F6F5ECFF_FILL0_wght400_GRAD0_opsz48.svg" alt="Privacy first"
            class="img-fluid">
          <h1 class="text-left">Privacy first</h1>
          <h3 class="text-left">non-invasive</h3>
          <p class="text-left">ensures content privacy, focused on metadata and headlines</p>
        </div>
      </div>
      <div>
        <h1 class="text-start">How the solution works</h1>
        <h4 class="text-start">Our solution collects only metadata from calendars and documents—never content. Our AI
          transforms this data into polished timesheets, analytics, and ERP-ready exports. Efficient time tracking with
          complete privacy.</h4>
        <img src="/src/images/day-1_how_it_works_unlabled.png" class="img-fluid w-100 h-auto" srcset="/src/images/day-1_how_it_works_unlabled-sm.png 576w,
             /src/images/day-1_how_it_works_unlabled.png 992w" sizes="(max-width: 576px) 100vw,
                    (max-width: 992px) 75vw,
                    50vw" alt="How Day-1 works">
      </div>
    </div>
  </div>
</section>